body{
    background: #f0c5e6;

    font-family: ubuntu;
}

h1{
    color: #fff;
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 80px;
    text-align: center;
}

.content{
    background: #fff;
    max-width: 960px;
    margin: 30px auto;
    padding:  20px 30px;
    border-radius: 10px 120px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 20px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: auto;
}

li:nth-child(even){
    padding: 20px;
    background: #f2f2f2;
}
li:nth-child(odd){
    padding: 20px;
    background: white;
}
/* lista e studenteve te regjistruar*/
li span{
    display: inline;
    margin: 5px;
}


li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}

form input{
    float: left;
    width: 45%;
    border: 0;
    border-bottom: 1px solid #eee;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
    margin: 10px;
}

form input:focus{
    outline: none;
    border-bottom: 3px solid #88236f;
    padding-bottom: 8px;

}

form:after{
    content: '';
    clear: both;
    display: block;
}

.btn{

    padding: 13px;
    width: 34%;

} 
button{
    border:0 ;
    border-radius: 10px;
    margin: 5px;
    padding: 13px;
    width: 34%;
    box-shadow: 2px 2px 2px lightgray;
    font-weight: bold;
    font-family: ubuntu;
    letter-spacing: 1px;
}
.ruaj{
    color: grey;
    background-color:papayawhip;
}
.anulo{
    background-color: grey;
    color: white;
}

#add-form {
    background-color: white;
    height: auto;
    margin: auto;
    margin-top: 15px;
    border-radius: 6px;
    padding:auto;
    width: auto;
}
form select{
    display: inline-block;
    padding: 10px;
    background: transparent;
    margin: 10px;
    width: 45%;
    max-width: 100%;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    font-size: .95rem;
}
select:nth-child(even){
   display: block;
}


  @media only screen and (max-width: 992px)
  { li span{
    display: block;
   }
   button{
    width:40%;
    display: inline;
   }
   .btn{
       width: 100%;
   }
    form select{
       width: 100%;
   }
   form input{
       display: block;
       width: 100%;
   }
   .regjistro{
       margin-bottom: 25px;
   }
   h1{
       font-size: 50px;
       margin-top: 40px;
   }
  }